# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# obsidian
/main.js
/styles.css
data.json
main.js.map
states.json
metadata.json

# 文件夹
document
translations
backups
cache

更新日志.md

# 排除macOS Finder （System Explorer）视图状态
.DS_Store



